<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
	<!--<script type="text/javascript" src="static/js/about.js"></script>-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/css/about.css">
</head>
<body>
	<div class="card">
  	<img src="static/img/rafael_profile.jpeg" alt="Rafael Cenzano" style="height:200">
  	<h1>Rafael Cenzano</h1>
  	<p class="title">Co-President</p>
  	<p>Harvard University</p>
  	<div style="margin: 24px 0;">
    	<a href="#"><i class="fa fa-dribbble"></i></a>
    	<a href="#"><i class="fa fa-twitter"></i></a>
    	<a href="#"><i class="fa fa-linkedin"></i></a>
    	<a href="#"><i class="fa fa-facebook"></i></a>
  	</div>
  	<p><button>Contact</button></p>
	</div>
	<div class="card">
  	<img src="" alt="Cappillen Lee" style="width:100%">
  	<h1>Cappillen Lee</h1>
  	<p class="title">Co-President</p>
  	<p>Harvard University</p>
  	<div style="margin: 24px 0;">
    	<a href="#"><i class="fa fa-dribbble"></i></a>
    	<a href="#"><i class="fa fa-twitter"></i></a>
    	<a href="#"><i class="fa fa-linkedin"></i></a>
    	<a href="#"><i class="fa fa-facebook"></i></a>
  	</div>
  	<p><button>Contact</button></p>
	</div>
	<div class="card">
  	<img src="" alt="Luna, Isabel" style="width:100%">
  	<h1>Luna, Isabel</h1>
  	<p class="title">Vice President</p>
  	<p>Harvard University</p>
  	<div style="margin: 24px 0;">
    	<a href="#"><i class="fa fa-dribbble"></i></a>
    	<a href="#"><i class="fa fa-twitter"></i></a>
    	<a href="#"><i class="fa fa-linkedin"></i></a>
    	<a href="#"><i class="fa fa-facebook"></i></a>
  	</div>
  	<p><button>Contact</button></p>
	</div>

</body>
</html>
