<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Title -->
	<title>{% block title %}{% endblock %}</title>

	<!-- Meta Data -->
	<meta charset="utf-8">
	<meta name="robots" content="index,follow">
	<meta name="theme-color" content="#ffffff">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="keywords" content="Lowell High School Dev Club Hack Club">
	<meta name="description" content="Website for Lowell High School's Dev Club.">

    <!-- Sirv -->
    <script src="https://scripts.sirv.com/sirv.js"></script>

	<!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="https://rafael.sirv.com/devclub/devclub.png?w=32&png.optimize=true">
    <link rel="icon" type="image/png" sizes="64x64" href="https://rafael.sirv.com/devclub/devclub.png?w=64&png.optimize=true">
    <link rel="icon" type="image/png" sizes="96x96" href="https://rafael.sirv.com/devclub/devclub.png?w=96&png.optimize=true">
    <link rel="icon" type="image/png" sizes="100x100" href="https://rafael.sirv.com/devclub/devclub.png?w=100&png.optimize=true">
    <link rel="icon" type="image/png" sizes="200x200" href="https://rafael.sirv.com/devclub/devclub.png?w=200&png.optimize=true">
    <link rel="icon" type="image/png" sizes="300x300" href="https://rafael.sirv.com/devclub/devclub.png?w=300&png.optimize=true">
    <link rel="icon" type="image/png" sizes="400x400" href="https://rafael.sirv.com/devclub/devclub.png?w=400&png.optimize=true">
    <link rel="icon" type="image/png" sizes="500x500" href="https://rafael.sirv.com/devclub/devclub.png?w=500&png.optimize=true">
    <link rel="alternate icon" href="https://rafael.sirv.com/devclub/dev-favicon.ico">

    <!-- Apple Icon -->
    <link rel="apple-touch-icon" sizes="57x57"   href="https://rafael.sirv.com/devclub/devclub.png?w=57&png.optimize=true">
    <link rel="apple-touch-icon" sizes="60x60"   href="https://rafael.sirv.com/devclub/devclub.png?w=60&png.optimize=true">
    <link rel="apple-touch-icon" sizes="72x72"   href="https://rafael.sirv.com/devclub/devclub.png?w=72&png.optimize=true">
    <link rel="apple-touch-icon" sizes="76x76"   href="https://rafael.sirv.com/devclub/devclub.png?w=76&png.optimize=true">
    <link rel="apple-touch-icon" sizes="114x114" href="https://rafael.sirv.com/devclub/devclub.png?w=114&png.optimize=true">
    <link rel="apple-touch-icon" sizes="120x120" href="https://rafael.sirv.com/devclub/devclub.png?w=120&png.optimize=true">
    <link rel="apple-touch-icon" sizes="144x144" href="https://rafael.sirv.com/devclub/devclub.png?w=144&png.optimize=true">
    <link rel="apple-touch-icon" sizes="152x152" href="https://rafael.sirv.com/devclub/devclub.png?w=152&png.optimize=true">
    <link rel="apple-touch-icon" sizes="180x180" href="https://rafael.sirv.com/devclub/devclub.png?w=180&png.optimize=true">

    <!-- Andriod Icon -->
    <link rel="icon" type="image/png" sizes="36x36"    href="https://rafael.sirv.com/devclub/devclub.png?w=36&png.optimize=true">
    <link rel="icon" type="image/png" sizes="48x48"    href="https://rafael.sirv.com/devclub/devclub.png?w=48&png.optimize=true">
    <link rel="icon" type="image/png" sizes="72x72"    href="https://rafael.sirv.com/devclub/devclub.png?w=72&png.optimize=true">
    <link rel="icon" type="image/png" sizes="96x96"    href="https://rafael.sirv.com/devclub/devclub.png?w=96&png.optimize=true">
    <link rel="icon" type="image/png" sizes="144x144"  href="https://rafael.sirv.com/devclub/devclub.png?w=144&png.optimize=true">
    <link rel="icon" type="image/png" sizes="192x192"  href="https://rafael.sirv.com/devclub/devclub.png?w=192&png.optimize=true">

	<!-- Facebook -->
	<meta property="og:url" content="https://www.lowelldevclub.com">
	<meta property="og:image" content="https://rafael.sirv.com/devclub/devclub.png?png.optimize=true">
	<meta property="og:description" content="Website for Lowell High School's Dev Club.">
	<meta property="og:title" content="Lowell Dev Club">
	<meta property="og:site_name" content="Lowell Dev Club">
	<meta property="og:see_also" content="https://www.lowelldevclub.com">

	<!-- Twitter -->
	<meta name="twitter:card" content="Website for Lowell Dev Club">
	<meta name="twitter:url" content="https://www.lowelldevclub.com">
	<meta name="twitter:title" content="Lowell Dev Club">
	<meta name="twitter:description" content="Website for Lowell High School's Dev Club.">
	<meta name="twitter:image" content="https://rafael.sirv.com/devclub/devclub.png?png.optimize=true">

	<!-- Google+ -->
	<meta itemprop="name" content="Lowell Dev Club">
	<meta itemprop="description" content="Website for Lowell High School's Dev Club.">
	<meta itemprop="image" content="https://rafael.sirv.com/devclub/devclub.png?png.optimize=true">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
    {% block head_css %}
    {% endblock %}

    {% block head_js %}
    {% endblock %}

</head>
<body>

    {% block content %}
    {% endblock %}

    {% block trailing_js %}
    {% endblock %}

    {% include "footer.html" %}
    <script type="text/javascript">
var close = document.getElementsByClassName("closebtn");
var i;

for (i = 0; i < close.length; i++) {
close[i].onclick = function(){
        var div = this.parentElement;
        div.style.opacity = "0";
        setTimeout(function(){ div.style.display = "none"; }, 600);
    }
}
    </script>
    
</body>
</html>
