<!DOCTYPE html>
<html>
<head>
	<title>Lowell Dev Club</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" type="text/css" href="static/css/lib/bootstrap.min.css">
  {% block head_css %}
  {% endblock %}
  {% block head_js %}
  {% endblock %}
</head>
<body>
  {% block content %}
  {% endblock %}
  {% block trailing_css %}
  {% endblock %}
</body>
</html>
