<footer class="footer">
	<div class="footer-right">
		<a rel="noopener" href="https://www.facebook.com/Lowell-Dev-Club-555840741569907/" class="fab fa-facebook" target="_blank"></a>
		<a rel="noopener" href="https://www.instagram.com/lowelldevclub/" class="fab fa-instagram" target="_blank"></a>
		<a rel="noopener" href="{{ url_for('joinslack') }}" class="fab fa-slack" target="_blank"></a>
		<a rel="noopener" href="{{ url_for('joindiscord') }}" class="fab fa-discord" target="_blank"></a>
		<a rel="noopener" href="https://github.com/lowell-dev-club" class="fab fa-github" target="_blank"></a>
	</div>
</footer>