<footer class="footer">
	<div class="footer-right">
		<a href="https://www.facebook.com/Lowell-Dev-Club-555840741569907/" class="fab fa-facebook" target="_blank"></a>
		<a href="https://www.instagram.com/lowelldevclub/" class="fab fa-instagram" target="_blank"></a>
		<a href="https://join.slack.com/t/lowelldevclub/shared_invite/enQtNTU4NTA5NTUxMjgxLWZmNjA1MThhMzBkODZjMmUwYzU0OGMxNjE3NTUxNzU5MTQwNjcxYWY4ZmRjN2M0MDU5OWMyNTJmZDEyM2M2MTY" class="fab fa-slack" target="_blank"></a>
		<a href="https://discord.gg/23hwRXE" class="fab fa-discord" target="_blank"></a>
		<a href="https://github.com/lowell-dev-club" class="fab fa-github" target="_blank"></a>
	</div>
</footer>