<footer class="footer">
	<div class="footer-right">
		<a rel="noopener" href="https://www.facebook.com/Lowell-Dev-Club-555840741569907/" class="fab fa-facebook" target="_blank"></a>
		<a rel="noopener" href="https://www.instagram.com/lowelldevclub/" class="fab fa-instagram" target="_blank"></a>
		<a rel="noopener" href="https://join.slack.com/t/lowelldevclub/shared_invite/zt-74kq5zu9-RuzCoIUlwIAw4fLU8wq5LQ" class="fab fa-slack" target="_blank"></a>
		<a rel="noopener" href="https://discord.gg/23hwRXE" class="fab fa-discord" target="_blank"></a>
		<a rel="noopener" href="https://github.com/lowell-dev-club" class="fab fa-github" target="_blank"></a>
	</div>
</footer>