{% extends 'base.html' %}

{% block head_css %}
	<link rel="stylesheet" type="text/css" href="static/css/home.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block head_js %}
	<script type="text/javascript" src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
{% endblock %}

{% block content %}

	<!-- Wrapper for all html elements for fade in effect -->
	<div class="fade-in">

	<div id="particles-js"></div>

	<nav class="navbar">
		<a href="/" class="navbar-text">Home</a>
		<div class="navbar-right">
			<a href="/about" class="navbar-text" id="">About</a>
		  	<a href="/schedule" class="navbar-text" id="">Schedule</a>
		  	<a href="/meetings" class="navbar-text" id="">Meetings</a>
		</div>
  		<div style="clear:both"></div>
	</nav>

	<div class="center">
		<h1 class="float-up">Lowell Dev Club</h1>
		<p class="float-up-subtitle">Well, hello there</p>
	</div>

	<footer class="footer">
		<div class="footer-right">
			<a href="#" class="fa fa-facebook"></a>
			<a href="#" class="fa fa-instagram"></a>
			<a href="#" class="fa fa-slack"></a>
			<a href="#" class="fa fa-github"></a>
		</div>
	</footer>

	</div>
	<script type="text/javascript" src="static/js/home.js"></script>
{% endblock %}
