{% extends 'base.html' %}

{% block title %}
Lowell Dev Club Home
{% endblock %}

{% block head_css %}
	<link rel="stylesheet" href="static/css/navbar.css">
	<link rel="stylesheet" href="static/css/footer.css">
	<link rel="stylesheet" href="static/css/home.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}

{% block head_js %}
	<script type="text/javascript" src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
{% endblock %}

{% block content %}

	<!-- Wrapper for all html elements for fade in effect -->
	<div class="fade-in">

	<div id="particles-js"></div>

	<nav class="navbar">
		<a href="/" class="navbar-text">Home</a>
		<div class="navbar-right">
			<a href="/about" class="navbar-text" id="">About</a>
		  	<a href="/partners" class="navbar-text" id="">Partners</a>
		  	<!--<a href="/sponsors" class="navbar-text" id="">Sponsors</a>-->
		</div>
  		<div style="clear:both"></div>
	</nav>

	<div class="center">
		<h1 class="float-up mobile-title">
		Lowell<br />
		Dev<br />
		Club<br />
		</h1>
		<h1 class="float-up desktop-title">Lowell Dev Club</h1>
		<p class="float-up-subtitle">Well, hello there</p>
	</div>

	</div>
	<script type="text/javascript" src="static/js/home.js"></script>
{% endblock %}
