{% extends 'base.html' %}

{% block title %}
Lowell Dev Club Home
{% endblock %}

{% block head_css %}
	<link rel="stylesheet" href="static/css/navbar.css">
	<link rel="stylesheet" href="static/css/footer.css">
	<link rel="stylesheet" href="static/css/home.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}

{% block head_js %}
	<script type="text/javascript" src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
{% endblock %}

{% block content %}

	<!-- Wrapper for all html elements for fade in effect -->
	<div class="fade-in">

	<div id="particles-js"></div>

	<nav class="navbar">
		<a href="/" class="navbar-text">Home</a>
		<div class="navbar-right">
			<a href="/about" class="navbar-text" id="">About</a>
		  	<a href="/partners" class="navbar-text" id="">Partners</a>
		  	<a href="/sponsors" class="navbar-text" id="">Sponsors</a>
		</div>
  		<div style="clear:both"></div>
	</nav>

	<div class="center">
		<h1 class="float-up">
		Lowell<br />
		Dev<br />
		Club<br />
		</h1>
		<p class="float-up-subtitle">Well, hello there</p>
	</div>

	<footer class="footer">
		<div class="footer-right">
			<a href="https://www.facebook.com/Lowell-Dev-Club-555840741569907/" class="fab fa-facebook" target="_blank"></a>
			<a href="https://www.instagram.com/lowelldevclub/" class="fab fa-instagram" target="_blank"></a>
			<a href="https://join.slack.com/t/lowelldevclub/shared_invite/enQtNTU4NTA5NTUxMjgxLWZmNjA1MThhMzBkODZjMmUwYzU0OGMxNjE3NTUxNzU5MTQwNjcxYWY4ZmRjN2M0MDU5OWMyNTJmZDEyM2M2MTY" class="fab fa-slack" target="_blank"></a>
			<a href="https://discord.gg/23hwRXE" class="fab fa-discord" target="_blank"></a>
			<a href="https://github.com/lowell-dev-club" class="fab fa-github" target="_blank"></a>
		</div>
	</footer>

	</div>
	<script type="text/javascript" src="static/js/home.js"></script>
{% endblock %}
