<!DOCTYPE html>
<html>
<head>
  <!-- Title -->
  <title>Latin</title>

  <!-- CSS -->
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/forms.css') }}">
</head>
<body>

<div class="body-wrapper">
<h1 class="center-align">Latin word searcher</h1>
<form autocomplete="off" action="" method="POST">
    {{ form.hidden_tag() }}
  <p>
    {{ form.word }}<br>
  </p>
  <p>{{ form.submit() }}</p>
</form>
<br>
{% if form.link != None %}
<p>Here is the link: <a target="_blank" href="{{ form.link }}">{{ form.link }}</a></p>
<iframe src="{{ form.link }}" height="800" width="90%"></iframe>
{% endif %}
<br>
</div>


</body>
</html>