<nav class="navbar">
    <a href="#" class="navbar-text" id="test"><img src="static/img/logo-transparent.png"></a>
    <div class="navbar-right">
        <a href="/workshop/old" class="navbar-text">Workshop</a>
        <a href="/about" class="navbar-text">About</a>
        <a href="/partners" class="navbar-text">Partners</a>
        <a href="https://bank.hackclub.com/donations/start/dev-club" class="navbar-text">Donate!</a>
        <!--<a href="/sponsors" class="navbar-text" id="">Sponsors</a>-->
    </div>
    <div style="clear:both"></div>
</nav>
