<nav class="navbar">
    <a href="{{ url_for('home')}}" class="navbar-text" id="test"><img src="https://rafael.sirv.com/devclub/logo-transparent.png?h=36&png.optimize=true" width="64" height="36" srcset="https://rafael.sirv.com/devclub/logo-transparent.png?h=36&png.optimize=true 1x, https://rafael.sirv.com/devclub/logo-transparent.png?h=72&png.optimize=true 2x" alt="Dev Club Logo" /></a>
    <div class="navbar-right">
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('dashboard') }}" class="navbar-text">Leader</a>
        {% endif %}
        <a href="{{ url_for('workshopList') }}" class="navbar-text">Workshop</a>
        <a href="{{ url_for('about') }}" class="navbar-text">About</a>
        <a href="{{ url_for('partners') }}" class="navbar-text">Partners</a>
        <a href="{{ url_for('donate') }}" class="navbar-text">Donate!</a>
    </div>
    <div style="clear:both"></div>
</nav>
{% with errors = get_flashed_messages(category_filter=["error"]) %}{% if errors %}{% for msg in errors %}<div class="alert"><span class="closebtn">&times;</span>{{ msg }}</div>{% endfor %}{% endif %}{% endwith %}{% with errors = get_flashed_messages(category_filter=["success"]) %}{% if errors %}{% for msg in errors %}<div class="alert success"><span class="closebtn">&times;</span>{{ msg }}</div>{% endfor %}{% endif %}{% endwith %}{% with errors = get_flashed_messages(category_filter=["info"]) %}{% if errors %}{% for msg in errors %}<div class="alert info"><span class="closebtn">&times;</span>{{ msg }}</div>{% endfor %}{% endif %}{% endwith %}{% with errors = get_flashed_messages(category_filter=["warning"]) %}{% if errors %}{% for msg in errors %}<div class="alert warning"><span class="closebtn">&times;</span>{{ msg }}</div>{% endfor %}{% endif %}{% endwith %}