{% extends 'base.html' %}

{% block title %}
Lowell Dev Club Workshops
{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="../../static/css/about.min.css">
    <link rel="stylesheet" href="../../static/css/workshop.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}

{% block head_js %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js"></script>
{% endblock %}

{% block content %}

    <div class="body-particles">

        {% include 'navbar.html' %}

        <div class="container rounded">
            <h1 class="centering">Workshops</h1>
            <h2 class="centering"><a href="/workshop">Current Workshop</a></h2>
            <br>
            <ol>
            {% for items in old_workshops %}
              <li><p><a href="/workshop/old/{{ items }}">{{ items }}</a></p></li>
            {% endfor %}
            </ol>
        </div>
    </div>

    <div id="particles-js"></div>

{% endblock %}

{% block trailing_js %}
    <script type="text/javascript" src="../../static/js/home.js"></script>
{% endblock %}
