{% extends 'base.html' %}

{% block title %}
Lowell Dev Club Partners
{% endblock %}

{% block head_css %}
	<link rel="stylesheet" href="static/css/sponsor.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}

{% block head_js %}
	<script type="text/javascript" src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
{% endblock %}

{% block content %}

	<div class="body-particles">
        
    {% include 'navbar.html' %}

    <span id="typed"></span>
    <div class="container rounded">
    	<h1 class="partners-title"><u>Partners</u></h1>
    	<div class="row">
    		<a href="https://hackclub.com/bank/" target="_blank"><img src="static/img/hackclubbank.png"></a>
    	</div>
        <div class="row">
            <a href="https://www.stickermule.com/" target="_blank"><img src="static/img/stickermule.png"></a>
        </div>
    </div>
  	</div>

	<div id="particles-js"></div>
	
{% endblock %}

{% block trailing_js %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="static/js/home.js"></script>
{% endblock %}
