{% extends 'base.html' %}

{% block title %}Short Link Info{% endblock %}

{% block head_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}

{% block head_js %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
{% endblock %}

{% block content %}
    <div class="body-particles">
        {% include 'navbar.html' %}
        <div class="container rounded">
            <h1 class="partners-title"><u>Short Link Info</u></h1>
            <table>
                <tr>
                    <td>/short{{ shortLink.id }}</td>
                    <td>Used {{ shortLink.timesused }} time{% if shortLink.timesused > 1 or shortLink.timesuser == 0 %}s{% endif %}</td>
                    <td><a href="{{ shortLink.link }}">{{ shortLink.link }}</a></td>
                    <td><a href="{{ url_for('editLink', id=shortLink.id) }}">Edit</td>
                </tr>
            </table>
        </div>
    </div>

    <div id="particles-js"></div>
{% endblock %}

{% block trailing_js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}
