#tag,
p {
	color: #fff;
	font-family: Muli, sans-serif
}

#spacer {
	padding: 2px
}

p {
	font-size: 200px;
	margin-left: 36%;
	margin-top: 15%;
	position: absolute;
	z-index: 1 !important
}

canvas {
	display: block;
	vertical-align: bottom
}

@media (min-width:901px) {
	#particles-js {
		position: fixed;
		width: 99%;
		height: 99%;
		background-color: rgba(255, 255, 255, 0);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c0170', endColorstr='#16350e', GradientType=0);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		z-index: -1 !important
	}

}

@media (max-width:900px) {
	.colorchanger {
		-webkit-animation: rainbow 15s infinite;
		animation: rainbow 15s infinite;
	}

}

@-webkit-keyframes rainbow {
	100%,
	0% {
		color: rgb(255, 0, 0);
	}

	8% {
		color: rgb(255, 127, 0);
	}

	16% {
		color: rgb(255, 255, 0);
	}

	25% {
		color: rgb(127, 255, 0);
	}

	33% {
		color: rgb(0, 255, 0);
	}

	41% {
		color: rgb(0, 255, 127);
	}

	50% {
		color: rgb(0, 255, 255);
	}

	58% {
		color: rgb(0, 127, 255);
	}

	66% {
		color: rgb(0, 0, 255);
	}

	75% {
		color: rgb(127, 0, 255);
	}

	83% {
		color: rgb(255, 0, 255);
	}

	91% {
		color: rgb(255, 0, 127);
	}

}

@keyframes rainbow {
	100%,
	0% {
		color: rgb(255, 0, 0);
	}

	8% {
		color: rgb(255, 127, 0);
	}

	16% {
		color: rgb(255, 255, 0);
	}

	25% {
		color: rgb(127, 255, 0);
	}

	33% {
		color: rgb(0, 255, 0);
	}

	41% {
		color: rgb(0, 255, 127);
	}

	50% {
		color: rgb(0, 255, 255);
	}

	58% {
		color: rgb(0, 127, 255);
	}

	66% {
		color: rgb(0, 0, 255);
	}

	75% {
		color: rgb(127, 0, 255);
	}

	83% {
		color: rgb(255, 0, 255);
	}

	91% {
		color: rgb(255, 0, 127);
	}

}

body {
	background-color: #000
}

#tag {
	font-size: 40px;
	margin-top: -13%;
	margin-left: 35%
}

@media only screen and (max-width:530px) {
	p {
		font-size: 30px;
		margin-left: 35%
	}

	#tag {
		font-size: 20px;
		margin-top: -5%;
		margin-left: 15%
	}

}

@media only screen and (min-width:531px) and (max-width:580px) {
	p {
		font-size: 50px;
		margin-left: 30%
	}

	#tag {
		font-size: 25px;
		margin-top: -10%;
		margin-left: 15%
	}

}

@media only screen and (min-width:581px) and (max-width:850px) {
	p {
		font-size: 100px;
		margin-left: 38%;
		margin-top: 12%
	}

	#tag {
		font-size: 40px;
		margin-top: -15%;
		margin-left: 23%
	}

}
