/* ---- reset ---- */

html {
  box-sizing:border-box;
}
html, body
{
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web';font-size: 17px;
}
*,*:before,*:after {
  box-sizing:inherit
}

body {
  margin: 0;
  font:normal 85% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

.container {
  margin: auto;
  margin-top: 50px;
  width: 75%;
  padding: 25px;
}

.rounded {
  border-radius: 5px;
  border-width: thin;
  border-color: #E5F3FF;
}
.row {
  width: 100%;
  height: 0px;
  max-height: 500px;
  padding: none;
  margin: auto;
  position: relative;
  opacity: 0;
}

.col {
  /*width:33%;*/
  float: left;
  margin: auto;
  /*min-width: 482px; */
}

.card {
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border-radius: 5px;
  padding: none;
  padding-top: 10px;
}

.title {
  color: grey;
  font-size: 18px;
}

/* ---- particles.js container ---- */

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #B60606;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.body-particles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

/* ---- css for social media icons ---- */
.fab {
  /*padding: 20px;*/
  padding-right: 5px;
  padding-left: 5px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  /*background: #3B5998;*/
  color: black;
}

.fa-github {
  /*background: #333333;*/
  color: black;
}

.fa-linkedin {
  color: black;
}

.card button {
  border: none;
  border-radius: 5px;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin: none;
}

/*a {
  margin: none;
  text-decoration: none;
  font-size: 22px;
  color: black;
}
*/

button:hover, a:hover {
  opacity: 0.7;
}

img {
  margin: auto;
  max-width: 10rem;
  max-height: 10rem;
}
@media (min-width: 478px) {
  .col.no-float {
    float: none;
  }
}
@media (min-width: 778px) {
  .col.float-left {
    float: left;
  }
}
@media (min-width: 704px) {
  .col.full {
    width: 99.9999%;
  }
}

@media (min-width: 993px) {
  .col.third {
    width: 33.3333%;
  }
}
.social-media {
  /*background: #3B5998;*/
  color: rgb(221, 55, 55);
  text-align: center;
  text-decoration: none;
}
/* ---- css to fade in the home page ---- */
.fade-profiles {
  animation: fadeIn ease 5s forwards;
  -webkit-animation: fadeIn ease 5s forwards;
  -moz-animation: fadeIn ease 5s forwards;
  -o-animation: fadeIn ease 5s forwards;
  -ms-animation: fadeIn ease 5s forwards;
  animation-delay: 4s;
  -webkit-animation-delay: 4s; /* Safari 4.0 - 8.0 */
}

@keyframes fadeIn{
  0% {
    height: 0px;
  }
  25% {
    height: 500px;
  }
  50% {
    opacity: 0%;
    height: 500px;
  }
  100% {
    opacity:1;
    height: 500px;
  }
}

@-moz-keyframes fadeIn {
  0% {
    height: 0px;
  }
  25% {
    height: 500px;
  }
  50% {
    opacity: 0%;
    height: 500px;
  }
  100% {
    opacity:1;
    height: 500px;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    height: 0px;
  }
  25% {
    height: 500px;
  }
  50% {
    opacity: 0%;
    height: 500px;
  }
  100% {
    opacity:1;
    height: 500px;
  }
}

@-o-keyframes fadeIn {
  0% {
    height: 0px;
  }
  25% {
    height: 500px;
  }
  50% {
    opacity: 0%;
    height: 500px;
  }
  100% {
    opacity:1;
    height: 500px;
  }
}
