/* ---- navbar ---- */
.navbar {
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.navbar-text {
  color: #FFF !important;
  margin: auto;
}
.navbar-right {
  float:right;
}
.navbar a {
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
  font: 10px;
  text-decoration: none;
  color: #000;
}
#test {
  float: left;
}
.navbar img {
  max-width: 100px;
  max-height: 36px;
  margin: -10px;
  float: left;
}